.map-container {
  position: relative;
  height: 100vh;
}

#seat-info {
  position: fixed;
  top: 15px;
  right: 15px;
  left: 15px;
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%;
}

#map-controls {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1;
}

#map-controls .btn {
  cursor: pointer;
  position: fixed;
  padding: 14px 16px;
  background-color: #fff;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 100%;
  color: var(--primary);
}

#map-controls .btn:hover {
  background: #eee;
}

#map-controls .btn span {
  font-size: 35px;
}

#map-controls #reset {
  right: var(--button-offset);
  bottom: calc(var(--button-offset) + 2 * (var(--button-size) + var(--button-margin)));
}

#map-controls #zoom-in {
  right: var(--button-offset);
  bottom: calc(var(--button-offset) + var(--button-size) + var(--button-margin));
}

#map-controls #zoom-out {
  right: var(--button-offset);
  bottom: var(--button-offset);
}

#map-controls #rotate-right {
  right: calc(var(--button-offset) + var(--button-size) + var(--button-margin));
  bottom: var(--button-offset);
}

#map-controls #rotate-left {
  right: calc(var(--button-offset) + 2 * (var(--button-size) + var(--button-margin)));
  bottom: var(--button-offset);
}

.marker {
  color: #fff;
  background-color: var(--primary);
  padding: 4px 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.marker span {
  font-size: 30px;
}
