:root {
  --primary: #469bd3;
  --primary-lighten: #49a9e9;
  --primary-darken: #387aa7;
  --bg-dark: #383838;
  --text-dark: #2e2e2e;
  --light: #fff;

  --border-radius: 10px;
  --button-size: 65px;      /* width/height of each buton */
  --button-offset: 15px;    /* offset from screen edge */
  --button-margin: 10px;    /* space between buttons */
}

@media (prefers-color-scheme: light) {
  :root {
      --background: var(--light);
      --foreground: var(--text-dark);
  }
}

html {
  /* Load system fonts */
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  
  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Disable auto-enlargement of small text in Safari */
  /* text-size-adjust: 100%; */
  
  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-appearance: none;
}

body {
  font-size: 1.1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
}

/**
* Form elements render using OS defaults,
* so font-family inheritance must be specifically declared
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 15px;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 15px;
  position: relative;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 15px 15px;
  background-color: var(--primary);
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: 600;
  width: 100%;
  margin-bottom: 5px;
  border: none;
  font-size: 1rem;
}

.btn.secondary {
  background: #ddd;
  color: var(--text-dark);
}
.btn[disabled] {
  background: #eee;
  color: #777;
  pointer-events: none;
}

.btn:hover:not([disabled]) {
  background-color: var(--primary-lighten);
}

.btn.secondary:hover {
  background: #eee;
  color: var(--text-dark);
}

p.description {
  opacity: 0.7;
  text-align: center;
  margin: 15px;
}

select {
  cursor: pointer;
  padding: 10px;
  background-color: #eee;
  border-radius: var(--border-radius);
  border: none;
  font-size: 0.8rem;
}

input {
  display: block;
  border-radius: var(--border-radius);
  background-color: #eee;
  padding: 15px 10px;
  font-size: 1.2rem;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

input[type="file"] {
  display: none;
}

#seat-info {
  background-color: var(--primary);
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  max-width: 400px;
}

#seat-info .field {
  text-align: center;
  margin: 15px;
}

#seat-info .key {
  display: block;
}

#seat-info .value {
  font-size: 1.7em;
  font-weight: 600;
}


#help-button-container {
  position: relative;
  z-index: 2;
}

#help-button {
  color: #fff;
  position: fixed;
  left: var(--button-offset);
  bottom: var(--button-offset);
  width: var(--button-size);
  padding: 18px 16px;
  height: var(--button-size);
}

#help-button.btn {
  border-radius: 100%;
}
#help-button.btn span {
  font-size: 30px;
}


.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  cursor: pointer;
}

.modal {
  background-color: #fefefe;
  margin: auto;
  padding: 15px;
  border: 1px solid #888;
  width: 90%;
  max-width: 400px;
  border-radius: var(--border-radius);
  position: relative;
}

.modal .button-container {
  display: flex;
}

.modal .button-container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.modal .button-container .btn.call {
  background: #2eb12e;
}

.modal .button-container .btn.call:hover {
  background: #33c233;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.close span {
  font-size: 35px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
