:root {
  --primary: #469bd3;
  --primary-lighten: #49a9e9;
  --primary-darken: #387aa7;
  --text: #000;
  --text-inverse: #fff;
  --border-radius: 10px;
}


html {
  /* Load system fonts */
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  
  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;
  
  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
  /* padding: 15px; */
}

/**
* Form elements render using OS defaults,
* so font-family inheritance must be specifically declared
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}


.container {
  max-width: 768px;
  margin: auto;
  padding: 15px;
  overflow: hidden;
  position: relative;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 15px 15px;
  background-color: var(--primary);
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: 600;
  width: 100%;
  margin-bottom: 5px;
}

.btn[disabled] {
  background: #ddd;
  pointer-events: none;
}


.btn:hover:not([disabled]) {
  background-color: var(--primary-lighten);
}

form {
  display: flex;
  justify-content: space-between;
}

form .form-field {
  text-align: center;
  margin: 5px;
  flex-grow: 1;
  flex-shrink: 1;
}

form .form-field input {
  display: block;
  border-radius: var(--border-radius);
  background-color: #eee;
  padding: 15px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
}
#upload {
  padding: 30px;
  width: 100%;
  margin-bottom: 30px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  padding: 30px;
  width: 100%;
}

#seat-info {
  background-color: var(--primary);
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  max-width: 300px;
}

#seat-info .field {
  text-align: center;
  margin: 15px;
}

#seat-info .key {
  display: block;
}

#seat-info .value {
  font-size: 1.7em;
  font-weight: 600;
}

#home-button {
  color: #fff;
  position: fixed;
  z-index: 1;
  left: 15px;
  bottom: 60px;
  border-radius: 10px;
  padding: 15px;
}

#home-button a {
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
